#game{
    width:1200px;
    height:600px;
    border: 5px solid #eee;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: calc((100vh - 600px)/2 - 8px);
}
.cell{
    float:left;
    background-size: 100%;
    background-color: #f8f8f8;
}
.empty{
    opacity: 0.1;
    outline: 1px solid #888;
}
.add-active{
    opacity: 0.5;
}
.add:hover{
    opacity: 0.5;
}
.add{
    background-image: url(assets/add.svg);
    cursor: pointer;
}
.visited{
    background-color: orange;
    opacity: 0.1;
    outline: 1px solid orange;
}
.wall{
    background-image: url(assets/wall.svg);
}
.char{
    position: absolute;
    transition: all 0.1s linear, transform 0.05s linear;
    background-color: transparent;
}
#ninja{
    background-image: url(assets/ninja.svg);
    cursor: pointer;
}
.guard{
    background-image: url(assets/guard.svg);
}
#coin{
    background-image: url(assets/coin.svg);
}
.danger, .ninja-here{
    opacity: 0.2;
}

span{
    font-weight: bolder;
    color:#ccc;
    font-family: sans-serif;
    position:absolute;
}
#info{
    margin:30px 20px;
    left:0px;
    top:0px;
    cursor: pointer;
}
#info:hover{
    color:#888;
}
#ins, #nopath{
    width: auto;
    height: auto;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    color: #555 !important;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    font-weight: normal;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0,0.1);
}
section{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
    display: none;
}
